* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    overflow-x: hidden;
}
body {
    font-family: 'Montserrat', sans-serif;
    
}


/* MOBILE-MENU */

.mobile-menu {
    width: 100%;
    height: 50px;
    background: black;
    position: relative;
}

.mobile-menu__logo {
    width: 100%;
    height: 100%;
    background: black;
    color: white; 
    text-align: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 500;
    line-height: 50px;
}

label {
    position: absolute;
    width: 80px;
    height: 50px;
    z-index: 9999;
    left: 0;
    top: 0;
    cursor: pointer;
}
  
input {
    display: none;
}

.mobile-menu__burger {
    position: absolute;
    width: 80px;
    height: 50px;
    z-index: 1000;
}

.mobile-menu__burger span {
    height: 2px;
    width: 30px;
    background: white;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transition: 1s background-color, 1s -webkit-transform;
    transition: 1s background-color, 1s -webkit-transform;
    transition: 1s transform, 1s background-color;
    transition: 1s transform, 1s background-color, 1s -webkit-transform;
    -webkit-transition: 1s transform, 1s background-color;
    -moz-transition: 1s transform, 1s background-color;
    -ms-transition: 1s transform, 1s background-color;
    -o-transition: 1s transform, 1s background-color;
}
.mobile-menu__burger span::before,
.mobile-menu__burger span::after {
    content: '';
    height: 2px;
    width: 30px;
    background: white;
    z-index: 100;
    position: absolute;
    -webkit-transition: 1s background-color, 1s -webkit-transform;
    transition: 1s background-color, 1s -webkit-transform;
    transition: 1s transform, 1s background-color;
    transition: 1s transform, 1s background-color, 1s -webkit-transform;
}
  
.mobile-menu__burger span::before {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
}
.mobile-menu__burger span::after {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}

#check-menu:checked ~ .mobile-menu__burger span {
    background-color: transparent;
    transform: rotate(135deg)  ;
    -webkit-transform: rotate(135deg)  ;
    -moz-transform: rotate(135deg)  ;
    -ms-transform: rotate(135deg)  ;
    -o-transform: rotate(135deg)  ;
}
#check-menu:checked ~ .mobile-menu__burger span::before,
#check-menu:checked ~ .mobile-menu__burger span::after {
    -webkit-transition: 0.5s -webkit-transform;
    transition: 0.5s -webkit-transform;
    transition: 0.5s transform;
    transition: 0.5s transform, 0.5s -webkit-transform;
    -webkit-transition: 0.5s transform;
    -moz-transition: 0.5s transform;
    -ms-transition: 0.5s transform;
    -o-transition: 0.5s transform;
}
 #check-menu:checked ~ .mobile-menu__burger span::before {
    top: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
#check-menu:checked ~ .mobile-menu__burger span::after {
    top: 0;
    transform: translateY(0) rotate(90deg);
    -webkit-transform: translateY(0) rotate(90deg);
    -moz-transform: translateY(0) rotate(90deg);
    -ms-transform: translateY(0) rotate(90deg);
    -o-transform: translateY(0) rotate(90deg);
}

.mobile-menu__block {
    width: 100%;
    height: 300px;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: -300px;
    z-index: 20;
    -webkit-transition: 1s;
    transition: 1s;
}

.mobile-menu__btn {
    text-decoration: none;
    color: white;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    width: 100%;
    height: 20%;
}

#check-menu:checked ~ .mobile-menu__block {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
    -webkit-transition: 1s;
    transition: 1s;
}




/* HEADER */

.header {
    position: relative;
    width: 100%;
    height: 550px;
    z-index: 10;
}

.header__logo {
    z-index: 100;
}

.header__logo img {
    margin-top: 50px;
}

.head span {
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}

.head p {
    text-transform: uppercase;
    font-size: 16px;
    color: white;
}

.head {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    height: 100%;
    padding: 0;
}

.head1 {    
    background: #7B15AD url('img/up/internet_add.png') no-repeat 80%; 
}


.head2 {
    background: #F56B57 url('img/up/seo.png') no-repeat 80%;
}
.head3 {
    background: #FFCC00 url('img/up/sites.png') no-repeat 80%;
}
.head4 {
    background: #67C3E1 url('img/up/design.png') no-repeat 80%;
}



/* MENU */

.header__menu {
    position: relative;
    top: -60px;
    z-index: 30;
}

.header__menu-item {
    padding: 0;
    width: 215px;
    height: 175px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__menu-item a {
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
    color: black;
    text-decoration: none;
}

.item1 {
    background: url('img/menu/internet_add.png') no-repeat center;
    
}
.item2 {
    background: url('img/menu/markt.png') no-repeat center;
}
.item3 {
    background: url('img/menu/sites.png') no-repeat center;
}
.item4 {
    background: url('img/menu/design.png') no-repeat center;
}

.op1 {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.op0 {
    opacity: 0;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}


/* OUR WORKS */


.our-works__header span {
    width: 100%;
    font-size: 40px;
    text-transform: uppercase;
    
}

.gradient {
    font-weight: 900;
    background: linear-gradient(135deg, #90e5f0 0%,#ff99ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





.our-works__carousel {
    width: 245%;
    top: 3.5%;
    left: -72.5%;
    height: 82%;
}

.slick-list {
    height: 100%;
}
.slick-track {
    height: 100%;
}

.carousel__item {
    /* width: 50%; */
    height: 100%;
    background: yellow;
    border-radius: 5px;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    
}

.mac {
    position: relative;
    overflow: hidden;
    
}

.slick-slide {
    margin: 0 15px;
}

.slick-current {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}











/* xl-размер (>=1200px) */
@media (min-width: 1200px) {
    .our-works__carousel {
        width: 227%;
        left: -63.5%;
    }
}
/* CSS для >=1200px */
     
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */

    .our-works__carousel {
        width: 255%;
        left: -77.5%;
    }
}
 
/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
    .header {height: 350px;}
    .head1 { -webkit-animation-name: fadeImg-1; animation-name: fadeImg-1; }
    .head2 { -webkit-animation-name: fadeImg-2; animation-name: fadeImg-2; }
    .head3 { -webkit-animation-name: fadeImg-3; animation-name: fadeImg-3; }
    .head4 { -webkit-animation-name: fadeImg-4; animation-name: fadeImg-4; }
    .head {
        background-size:  42% auto;    
        -webkit-animation-duration: 16s;    
                animation-duration: 16s;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        height: 60%;
    } 
    .our-works__carousel {
        width: 260%;
        left: -80%;
    }

}
 
/* sm-размер (<=768px) */
@media (max-width: 767px) { 
  /* CSS для ширины от 576px до 767px */
    .head { background-size:  80% auto; }
    .head2 { background-size:  70% auto; }
    .head1 span {
        position: absolute;
        top: 230px;
        color:#7B15AD;
        line-height: 2.6rem;
    }

    .head2 span { 
        position: absolute;
        top: 230px;
        color: #F56B57;
        line-height: 2.6rem;        
    }
     

    .head2 p { 
        position: absolute;
        top: 315px;
        color: #F56B57;
    }   

    .head3 span { 
        position: absolute;
        top: 230px;
        color: #FFCC00;
        line-height: 2.6rem;
    }

    .head4 span { 
        position: absolute;
        top: 230px;
        color: #67C3E1;
        line-height: 2.6rem;
    } 
    .our-works__carousel {
        width: 270%;
        left: -85%;
    }
}
 
/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
    .head span {font-size: 34px;}
    .head { background-size:  110% auto; }
    .our-works__carousel {
        width: 280%;
        left: -90%;
    }
}

@media (max-width: 420px) {
    /* CSS для ширины до 420px (включительно) */
      .our-works__carousel {
          width: 296%;
          left: -98%;
      }
}


/* KEYFRAMES */


@-webkit-keyframes fadeImg-1 {
    from  { opacity:1; }
    16%   { opacity:1; }
    25%   { opacity:0; }
    91%   { opacity:0; }
    to    { opacity:1; }
}


@keyframes fadeImg-1 {
    from  { opacity:1; }
    16%   { opacity:1; }
    25%   { opacity:0; }
    91%   { opacity:0; }
    to    { opacity:1; }
}
  
@-webkit-keyframes fadeImg-2 {
    from  { opacity:0; }
    16%   { opacity:0; }
    25%   { opacity:1; }
    41%   { opacity:1; }
    50%   { opacity:0; }
    to    { opacity:0; }
}
  
@keyframes fadeImg-2 {
    from  { opacity:0; }
    16%   { opacity:0; }
    25%   { opacity:1; }
    41%   { opacity:1; }
    50%   { opacity:0; }
    to    { opacity:0; }
}
  
@-webkit-keyframes fadeImg-3 {
    from  { opacity:0; }
    41%   { opacity:0; }
    50%   { opacity:1; }
    66%   { opacity:1; }
    75%   { opacity:0; }
    to    { opacity:0; }
}
  
@keyframes fadeImg-3 {
    from  { opacity:0; }
    41%   { opacity:0; }
    50%   { opacity:1; }
    66%   { opacity:1; }
    75%   { opacity:0; }
    to    { opacity:0; }
}
  
@-webkit-keyframes fadeImg-4 {
    from  { opacity:0; }
    66%   { opacity:0; }
    75%   { opacity:1; }
    91%   { opacity:1; }
    to    { opacity:0; }
}
  
@keyframes fadeImg-4 {
    from  { opacity:0; }
    66%   { opacity:0; }
    75%   { opacity:1; }
    91%   { opacity:1; }
    to    { opacity:0; }
}
  
